!!! XML
!!!
%html{ xmlns: 'http://www.w3.org/1999/xhtml'  }
  %head
    %title= escape_once(title || "#{Locomotive.config.name} &mdash; #{current_site.name}")

    = javascript_include_tag  'locomotive/not_logged_in'
    = stylesheet_link_tag     'locomotive/not_logged_in', media: 'screen'

    = yield :head

  %body{ class: controller.controller_name }
    - if defined?(current_site)
      - bg = Locomotive::ContentType.where(site_id: current_site.id).last
      - if bg.present? && bg.entries.where(featured: true).present?
        #background{style: "background-image: url(#{bg.entries.where(featured: true).last.image.url}); background-size: cover; position: fixed;"}


    #wrapper


      #light
        - if action_name == 'new'
          #panel.container{style: 'position: absolute;bottom: 0;top: initial;left: 50%;margin-left: -175px;margin-bottom: 50px;' }
            
            - name = current_site.name if defined?(current_site)
            %h1!= name || "Login"

            = yield

        - else
          #panel.container

            - name = current_site.name if defined?(current_site)
            %h1!= name || "Login"

            = yield
